<header class="bg-black text-white p-3 border-t-2 border-[#C5202E] lg:text-lg">
  <div class="flex items-center flex-wrap max-w-6xl mx-auto">
    <div
      class="toggler p-2 flex flex-col justify-center lg:hidden cursor-pointer"
      (click)="showLinks = !showLinks"
    >
      <span
        [ngClass]="{ toggled: showLinks }"
        *ngFor="let item of [0, 1, 2]"
      ></span>
    </div>
    <img
      src="assets/ikmf-serbia-logo.svg"
      alt="IKMF Serbia Logo"
      class="mx-auto inline-block lg:m-0"
      width="200"
    />
    <nav
      [ngClass]="{ hidden: !showLinks }"
      class="w-full divide-y divide-gray-700 lg:w-min flex flex-col lg:flex lg:flex-row lg:flex-grow lg:divide-y-0 lg:justify-end"
    >
      <a
        class="hover:bg-gray-900 p-2 mx-1 first-of-type:mt-2 lg:first-of-type:mt-0"
        *ngFor="let link of links"
        [routerLink]="[link.path]"
        routerLinkActive="router-link-active"
        (click)="showLinks = !showLinks"
        >{{ link.name }}</a
      >
    </nav>
  </div>
</header>
